:root {
  --primary-btn: #007bff;
  --secondary-btn: #6c757d;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

* {
  max-height: 1000000px;
  margin: 0;
  padding: 0;
}


body {
  color: #333;
  background: #fff;
  font: 16px/1.6 "Muli", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: #011b8f;

}

#header {
  padding: 7px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background: #ffffff;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
}

#header .navbar {
  padding: 0;
  justify-content: space-between;
  background: none !important;
}

#header .navbar-brand {
  color: #0722bb;
  /* text-transform: uppercase; */
  font-weight: 600;
  height: auto;
  padding: 0;
  font-size: 25px;
  line-height: 1.6;
}

#header .navbar-collapse {
  flex-grow: 0;
}

#header .navbar-collapse .navbar-nav {
  font-size: 14px;
  line-height: 20px;
}

#header .navbar-collapse a:last-child {
  padding-right: 0;
}

#header .navbar-collapse a {
  color: #4d4d4d;
  position: relative;
}

#header .navbar-collapse a:hover,
#header .navbar-collapse a.active {
  background: none;
  color: #3b4fc0;
}

#header .navbar-collapse a:hover:before,
#header .navbar-collapse a.active:before {
  right: 7px;
  left: 8px;
  opacity: 1;
}

#header .navbar-collapse a:before {
  content: '';
  background: #0722bb;
  height: 1px;
  /* padding-top: 2px; */
  position: absolute;
  bottom: 7px;
  left: -20px;
  right: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 0;
}

/* Spinner */
.loader {
  border: 7px solid #f3f3f3;
  /* Light grey */
  border-top: 7px solid #fd7f01;
  /* Blue */
  border-left: 7px solid #fd7f01;
  /* Blue */


  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* END of Spinner*/

.row-marg-top-bott{
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.189)
}

.cont-marg-b20{
  margin-bottom: 20px;
}


.title{
  margin-right: 5px;
  display: inline-block;
}
.title.notes{
  font-weight: 400;
  font-size: 15px;
}
.somecol{
  color: #ffd609;
}